@import "ui-variables";

@flash-background: fadeout(darken(@syntax-selection-flash-color, 10%), 20%);
@flash-edit-background: fadeout(darken(@syntax-color-modified, 10%), 20%);

@keyframes cursor-history-flash {
  from { background-color: @flash-background; }
  to { background-color: transparent; }
}

@keyframes cursor-history-flash-edit {
  from { background-color: @flash-edit-background; }
  to { background-color: transparent; }
}

atom-text-editor.editor .line.cursor-history-flash-line {
  animation-name: cursor-history-flash;
  animation-iteration-count: 1;
  animation-duration: .5s;
}

atom-text-editor.editor .line.cursor-history-highlight-line {
  animation-name: cursor-history-flash;
  animation-iteration-count: 1;
  animation-duration: 3s;

  &.edited {
      animation-name: cursor-history-flash-edit;
      animation-iteration-count: 1;
      animation-duration: 3s;
  }
}

/* The rule for normal highlights */
.minimap .cursor-history-highlight-line {
  background: @flash-background;

  &.edited {
    background: @flash-edit-background;
  }
}
